// Modal Anim

@include keyframes(modal-in) {
  0% { @include scale(1.2); @include opacity(0)}
  100% { @include scale(1); @include opacity(1) }
}

@include keyframes(modal-out) {
  0% { @include scale(1); @include opacity(1); @include translateX(0%);}
  99% { @include opacity(0); @include scale(1.2); }
  100% { @include translateX(100%); }
}

.chattaaar-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($grey, 0.5);
  z-index: 9999;
  @include translateX(100%);
  &.open {
    @include translateX(0%);
    @include animation(modal-in 0.3s);
  }
  &.close {
    @include animation(modal-out 0.3s);
  }
  .chattaaar-container {
    position: absolute;
    top: 10%; left: 10%; right: 10%; bottom: 10%; width: 80%; height: 80%;
    @include box-shadow($light 0px 0px 0px 0px inset);
    &.condensed {
      top: 5%; left: 5%; right: 5%; bottom: 5%; width: 90%; height: 90%;
    }
    &.fullscreen {
      top: 0; left: 0; right: 0; bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
}